<h1>
    <%= @character.name %>
</h1>

</p>

<%= link_to 'Go back', characters_index_path %>
<%= link_to 'Edit character', characters_edit_path(:id => @character.id) %>

<%= link_to 'Delete', character_path(@character.id), method: :delete %>